<div ng-include="'partials/navbar.html'"></div>

<div class="container">
    <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1 page-box-white"
         style="background-color:white;border-radius:8px;padding:15px;">
        <div ng-if="!submitted">
            <h2 style="width: 100%; text-align: center">申请属于你的idea的MVP</h2>

            <form class="form" name="form" ng-submit="apply(form)" novalidate>
                <h4>请输入您的真实姓名</h4>

                <div class="form-group">
                    <input type="text" name="name" class="form-control" ng-model="application.name"
                           required
                            />
                      <span class="error-msg" ng-show="form.name.$error.required && submitted">
                          请输入姓名
                      </span>
                </div>

                <h4>请输入您的邮箱</h4>

                <div class="form-group">
                    <input type="text" name="email" class="form-control" ng-model="application.email"
                           required/>
                      <span ng-show="form.email.$error.required && submitted">
                          请输入邮箱
                      </span>
                      <span ng-show="form.email.$error.ep && submitted">
                          请输入格式正确的邮箱
                      </span>
                </div>
                <button type="submit" class="btn btn-success btn-block">提交申请</button>
            </form>
        </div>

        <div ng-if="submitted">
            <h3>感谢您申请！请关注邮件通知！</h3>
        </div>
    </div>
</div>