<div ng-include="'partials/navbar.html'"></div>

<div class="container">

    <!--Login/Signup-->
    <div class="col-md-4 col-lg-4">
        <ul class="nav nav-tabs" role="tablist" id="tabNav">
            <li class="active" ng-click="tabSwitch(1)"><a href="">注册</a></li>
            <li ng-click="tabSwitch(2)"><a href="">登录</a></li>
        </ul>
        <!--Signup-->
        <div class="signup-container page-box-white" id="Signup" ng-show="currentTab==1">
            <div class="alert alert-success" role="alert"><strong>已经注册过了？</strong> 点击上方的“登录”按钮，回到属于自己的那片天地！</div>
            <div class="alert alert-danger" ng-show="errors.hasRegisterError">
                <p>注册过程中出现错误：{{ errors.registerErr }}</p>
            </div>
            <form class="form" name="form" ng-submit="register(form)" novalidate>
                <div class="form-group">
                    <input type="text" name="email" class="form-control" ng-model="user.email"
                           placeholder="请输入邮箱"
                           required
                           ng-unique="user.email"/>
                        <span ng-show="form.email.$error.required && submitted">
                          请输入邮箱
                        </span>
                        <span ng-show="form.email.$error.ep && submitted">
                          请输入格式正确的邮箱
                        </span>
                        <span ng-show="form.email.$error.unique && submitted">
                          此邮箱已被注册
                        </span>
                </div>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" ng-model="user.username"
                           placeholder="请输入用户名"
                           required
                           ng-username="user.username"
                           ng-minlength="6"
                           ng-maxlength="18"
                           ng-unique="user.username"
                            />
                        <span class="error-msg" ng-show="form.username.$error.required && submitted">
                          请输入用户名
                        </span>
                        <span class="error-msg" ng-show="form.username.$error.username && submitted">
                          请输入字母、数字、下划线，需字母开头
                        </span>
                        <span class="error-msg" ng-show="form.username.$error.minlength && submitted">
                          长度应为6~18个字符
                        </span>
                        <span class="error-msg" ng-show="form.username.$error.unique && submitted">
                          很遗憾，此用户名已经被注册
                        </span>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" ng-model="user.password"
                           placeholder="密码"
                           required
                           ng-minlength="6"
                           ng-maxlength="12"
                            />
                        <span class="error-msg"
                              ng-show="form.password.$error.required && submitted">
                          请输入密码
                        </span>
                        <span class="error-msg" ng-show="form.password.$error.minlength && submitted">
                          密码由6-12位字母、数字或符号组成，区分大小写
                        </span>
                        <span class="error-msg" ng-show="form.password.$error.maxlength && submitted">
                          密码由6-12位字母、数字或符号组成，区分大小写
                        </span>
                </div>
                <div class="form-group">
                    <input type="password" name="conpwd" class="form-control" ng-model="user.conpwd"
                           placeholder="再输一次密码吧~"
                           required
                           ng-confirm/>
                        <span class="error-msg" ng-show="form.conpwd.$error.required && submitted">
                          密码不一致
                        </span>
                        <span class="error-msg"
                              ng-show="form.conpwd.$error.confirm && submitted">
                          密码不一致
                        </span>
                </div>
                <button type="submit" class="btn btn-success btn-block">注册</button>
            </form>
        </div>
        <!--Login-->
        <div class="login-container page-box-white" id="Login" ng-show="currentTab==2">
            <div class="alert alert-success" role="alert"><strong>还没有注册过？</strong> 点击上方的“注册”按钮，抓紧时间注册一个属于自己的账户吧！</div>
            <div class="alert alert-danger" ng-show="errors.hasLoginError">
                <p>登陆过程中出现错误：{{ errors.loginErr }}</p>
            </div>
            <form class="form" name="form" ng-submit="login(form)" novalidate>
                <div class="form-group">
                    <span class="fui-user"></span>
                    <input type="text" name="username" class="form-control" ng-model="user.username"
                           placeholder="请输入用户名"
                           required>
                    <span class="error-msg" ng-show="form.username.$error.required && submitted">用户名不能为空</span>
                </div>
                <div class="form-group">
                    <span class="fui-lock"></span>
                    <input type="password" name="password" class="form-control" ng-model="user.password"
                           placeholder="密码" required>
                    <!--<span class="error-msg">用户名或密码错误</span>-->
                    <span class="error-msg" ng-show="form.password.$error.required && submitted">密码不能为空</span>
                </div>
                <button type="submit" class="btn btn-success btn-block">登录</button>
            </form>
        </div>
    </div>

    <div id="carousel-example-generic" class="col-md-8 col-lg-8 carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" ng-repeat="idea in ideas"
                data-slide-to="{{ $index }}" ng-class="{active: $index == 0}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item" ng-class="{active: $index == 0}" ng-repeat="idea in ideas">
                <img src="img/background.jpg">

                <div class="carousel-caption" style="bottom:40%">
                    <h1>{{ idea.attributes.content }}</h1>
                    <h4>{{ idea.publisher }}</h4>
                    <h4>{{ idea.createdAt }}</h4>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" ng-click="go('prev')" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" ng-click="go('next')" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>