<div ng-include="'partials/navbar.html'"></div>

<div class="container">
    <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1 page-box-white" style="background-color:white;border-radius:8px;padding:15px;">
    <h2>{{ idea.attributes.content }}</h2>
    <h4>{{ idea.attributes.publisher.attributes.username }}</h4>
    <h5>{{ idea.createdAt }}</h5>
    <br>
    <h4><span class="label label-info">Likes:&nbsp;{{ likesCount }}</span></h4>

    <div class="alert alert-success" ng-show="created && createSuccess">您的评论已成功提交！</div>
    <div class="alert alert-success" ng-show="created && createFailure">提交过程中发生错误！</div>

    <div>
        <table class="table">
            <tbody>
            <tr ng-repeat="suggest in suggests">
                <td>{{ suggest.attributes.category }}</td>
                <td>{{ suggest.attributes.advisor.attributes.username }}</td>
                <td>{{ suggest.attributes.source }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>
    <div>
        <table class="table">
            <!--<thead>-->
            <!--<tr>-->
            <!--<th>内容</th>-->
            <!--<th>发布日期</th>-->
            <!--<th>操作</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <tbody>
            <tr ng-repeat="comment in comments">
                <td><strong>Reply To {{ comment.attributes.replyTo.attributes.username }}:</strong> {{
                    comment.attributes.content }}
                </td>
                <td>{{ comment.attributes.commenter.attributes.username }}</td>
                <td>{{ comment.createdAt }}</td>
                <td>
                    <button class="btn btn-info"
                            ng-click="changeReplyToID(comment.attributes.commenter.id, comment.attributes.commenter.attributes.username)">Reply
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="likeComment(comment.id, 'like')">
                        顶({{ comment.attributes.like }})
                    </button>
                    <button class="btn btn-danger" ng-click="likeComment(comment.id, 'dislike')">
                        踩({{ comment.attributes.dislike }})
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h3>Comments</h3>
        <textarea class="form form-control" rows="3"
                  ng-model="commentContent"
                  placeholder="" id="makeComment"></textarea><br>
        <button class="btn btn-primary"
                ng-click="createComment(replyToID)">提 交
        </button>
    </div>
</div>
</div>